.centeredText {
  text-align: center;
}

.fixedWithTextarea {
  font-family: Consolas,Monaco,Lucida Console,Liberation Mono,DejaVu Sans Mono,Bitstream Vera Sans Mono,Courier New, monospace;
}
.topCard {
  text-align: left;
  font-size: 93%;
}
